<main>
  <div class="main container-fluid">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase"> test & poll </h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Платформа для проведення тестувань та опитувань.</h2>
        <div class="d-flex justify-content-around">
          <div class="">
            <button type="button" name="button" class="btn btn-outline-dark btn-lg">Дізнатись більше</button>
          </div>
          <div class="">
            <button type="button" name="button" class="btn btn-outline-dark btn-lg" (click)="openSignUpDialog()" >SIGN IN</button>
          </div>
        </div>
      </div>

    </div>

  </div>

</main>
